<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
  <!--Итак, так как мою идею доброго и светлого (калькулятор для сотрудников) свернули,
  А развивается в направлении Backend хочется.
  Я принял решение что буду учить новый функционал и выкладывать сюда то, что удалось изучить.
  Соответственно красоты тут будет мало. А пока держите котика)
 .
  ┈┈╱▔▔▔▏┈┈▕╲┈╱▏┈┈
   ┈╱╱▔▔▔┈┈┈╱┳▔┳╲┈┈
   ┈▏▏┈┈┈┈┈┈▏┈▅┈▕┈┈
  ┈╲╲▂▂▂▂▂╱╲╱┻╲╱┈┈
 ┈┈▏▕▕▕▕▕▕┈╰━╯┃┈┈
 ┈┈▏▕╱▕╱▕╱┈╱▔╲┃┈┈
 ┈┈▏┏━┳┳━━┓┏━┓┃┈┈

На этой странице со временем будут появляться отдельные кнопки на изученный материал.
Учитывая возможность ошибок, каждая новая кнопка будет вести на отдельное приложение Django.

Основы HTML or css пройдены на «htmlacademy»
Материал изученный ранее: a byte of python (ru) ver: 2.02 в переводе В.Смоляра,
Django. Разработка веб-приложений на Python — Джефф Форсье, Пол Биссекс
Владимир Дронов: Django 3.0. Практика создания веб-сайтов на Python
Для тестирования качества за собой:
«ключевые процессы тестирования» рекс блэк
Qa_bible


Блог – День 1) Поднял стек - Windows 10 Pro для рабочих станций – python 3 – Django 4.1
интегрированная среда разработки - PyCharm
SQL Server Management Studio (SSMS) 18.12.1
Apache24

Настроил доступ к виртуальной машине.  Подготовил Win для работы с кодом.
Запустил виртуальное окружение py3.

На память о прошлом проекте интегрировал старые маршруты как есть, что бы не тратить на это время.

Блог – День 2) (до этого изучил систему контроля версий Git) самое время выложить проект на Githab и начать учится практикой.

-->
<body>
<div
<h3>press f12 to go blog/head</h3>
</div>

</body>
</html>